SUPABASE_URL="https://cujuxkdkpgxdhybcppxz.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1anV4a2RrcGd4ZGh5YmNwcHh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzU4OTU4OTgsImV4cCI6MTk5MTQ3MTg5OH0.V9Bjh9HHtvzu-cblE0Q0tNKxoGS17pRmvx1OtDlvB9Q"